
Day_1/.ipynb_checkpoints/002-Numbers-checkpoint.ipynb
Day_1/.ipynb_checkpoints/001-Data_Type_Overview-checkpoint.ipynb
Day_1/.ipynb_checkpoints/003-Strings-checkpoint.ipynb
Day_1/.ipynb_checkpoints/004-List-checkpoint.ipynb
